body, html {
    margin: 0px;
    height: 100%;
    font-family: 'Lato' , sans-serif;
}

.wrap{
  position:absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: #FFFFFF;
}

.title {
  color: grey;
  font-size: 18px;
}

.section{
  color: #FFFFFF;
  background-color:#34495e;
  text-align:center;padding:50px 80px;
  text-align: justify;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #e74c3c;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.bgimg{
  position: relative;
  /*Create parallax scrolling effect*/
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover;
}

#bgimg-1{
  background-image: url("../images/background-4.jpg");
  /* full height */
  min-height: 25%;
}

#bgimg-2{
  background-image: url("../images/background-7.jpg");
  /* full height */
  min-height: 25%;
}

#bgimg-3{
  background-image: url("../images/background-11.jpg");
  /* full height */
  min-height: 25%;
}

#bgimg-4{
  background-image: url("../images/background-6.jpg");
  /* full height */
  min-height: 25%;
}

#bgimg-5{
  background-image: url("../images/background-8.jpg");
  /* full height */
  min-height: 25%;
}

#bgimg-6{
  background-image: url("../images/background-9.jpg");
  /* full height */
  min-height: 25%;
}

#bgimg-7{
  background-image: url("../images/background-10.jpg");
  /* full height */
  min-height: 25%;
}

#bgimg-8{
  background-image: url("../images/background-5.jpg");
  /* full height */
  min-height: 25%;
}

@media only screen and (max-width: 600px) {
  .section{
    color: #FFFFFF;
    background-color:#34495e;
    text-align:center;padding:8px 8px;
    text-align: justify;
  }
  .bgimg{
    position: relative;
    /*Create parallax scrolling effect*/
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size:cover;
  }
  .card h1{
    font-size: 18px;
  }
  .title {
    color: grey;
    font-size: 12px;
  }
}
